body{
    position:relative;
}

#login-nav,#register-nav,#logout-nav,.settings-nav,#chat-nav{
    /* firebase will take care of toggling display*/
    display:none;
}

.toaster-alert{
    transition: all 1s ease-in .5s;
    position:absolute;
    top:25px;
    left:35%;
}

#chat-room{
    height: 80vh;
    overflow-y:scroll;
}


.msg {
    clear:both;
    padding: 5px 15px;
    margin-bottom: 5px;
}
.msg:hover{
    cursor: pointer;
}
.msg-right{
    float:right;
}
.msg-left{
    float:left;
}
