
<!-- register form -->
<form id="register">
	<div class="form-group">
		<label for="reg-name">User Name:</label>
		<input type="text" class="form-control" id="reg-name" placeholder="User Name">
	</div>
	<div class="form-group">
		<label for="reg-email">Email:</label>
		<input type="email" class="form-control" id="reg-email" placeholder="Email">
	</div>
	<div class="form-group">
		<label for="reg-password">Password:</label>
		<input type="password" class="form-control" id="reg-password" placeholder="Password">
	</div>
	<div class="form-group">
		<label for="reg-file">Profile Picture</label>
		<input type="file" id="reg-file">
	</div>
	<button type="submit" class="btn btn-default register-btn">Register</button>
</form>
<!-- end of register-->
